*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-image: linear-gradient(to right top,rgb(107, 106, 106), rgb(37, 117, 247), rgb(219, 120, 44) 90%);
    min-height: 100vh;
}
.maincnt{
    min-height: 400px;
    width: 60%;
    border: 1px solid black;
    margin-left: 20%;
    margin-top: 8vh;
    background-color: rgb(28, 79, 62);
    border-radius: 20px;
}

.addtask{
    min-height: 45px;
    width: 70%;
    font-size: large;
    margin-left: 15%;
    margin-top: 5vh;
    border: 0px solid rgb(17, 15, 15);
    border-radius: 30px;
    background-color: aliceblue;
    display: flex;
    
}
.addtask input{
    height: 45px;
    flex-grow: 1;
    border-radius: 30px;
    border: none;
    background: transparent;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    
}
.addtask button{
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: rgb(3, 104, 245);
    font-size: 18px;
    padding: 12px 30px;
    color: antiquewhite;
}

#tasklist{

}


ul li{
    height: 40px;
    width: 50%;
   background-color:rgb(111, 111, 66);
   font-size: 18px;
   color: white;
    margin: 5px 25%;
    padding: 10px 30px;
    border-radius: 10px;
    list-style: none;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(246, 249, 247);
    border: 1px solid rgb(62, 52, 52);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0px;
    top: 10px;
}
ul li span{
    width: 30px;
    padding-left: 5px;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 2px;
    border: 0px solid black;
}

ul li.checked{
    color: orangered;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(tick-icon-accept-approve-sign-design-free-png.webp);
    background-size: cover;
    background-position: center;
}


@media screen and (max-width:650px) {
    .maincnt{
        min-height: 400px;
        width: 80%;
        margin-left: 10%;
        margin-top: 15vh;
        background-color: rgb(28, 79, 62);
        
    }

    .addtask{
        height: 45px;
        width: 90%;
        font-size: large;
        margin-top: 5vh;
        margin-left: 5%;
        border: 1px solid white;
        border-radius: 30px;
        background-color: aliceblue;
        display: flex;
    }

    ul li{
        height: 40px;
        width: 70%;
       background-color:rgb(111, 111, 66);
       font-size: 18px;
       color: white;
        margin: 5px 15%;
        padding: 10px 30px;
        border-radius: 10px;
        list-style: none;
        user-select: none;
        position: relative;
    }

}

@media screen and (max-width:430px) {
    .maincnt{
        min-height: 450px;
        width: 95%;
        margin-left: 2.5%;
        
    }

    .addtask{
        height: 110px;
        width: 90%;
        font-size: large;
        margin-top: 5vh;
        margin-left: 5%;
        border: 0px solid white;
        border-radius: 30px;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }

    .addtask button{
        align-items: center;
        width: 45%;
        margin-left: 25%;
        text-align: center;
        padding-left: 10%;
    }
    .addtask input{
        flex: 0.7;
        height: 15px;
        background-color: rgb(246, 246, 247);
    }

    ul li{
        height: 40px;
        width: 70%;
       background-color:rgb(111, 111, 66);
       font-size: 18px;
       color: white;
        margin: 5px 15%;
        padding: 10px 30px;
        border-radius: 10px;
        list-style: none;
        user-select: none;
        position: relative;
    }
   
}
